@using aspnet_boilerplate_mvc.Entities;
@model RoleModel
@{
    ViewData["Title"] = "New/Edit Role";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Role" asp-action="Index">Roles</a></li>
                    <li class="breadcrumb-item active" aria-current="page">New/Edit Role</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="col-md-6 offset-md-3">
        <form method="post">
            <div class="card">
                <div class="card-body">
                    <h4 class=card-title>New/Edit Role</h4>
                    <hr />
                    <div class="mb-3">
                        <label>Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label>Level</label>
                        <select asp-for="Level" class="form-control">
                            <option value="System">System</option>
                            <option value="User">User</option>
                         </select>
                        <span asp-validation-for="Level" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="Id"/>
                <div class="card-footer d-flex justify-content-between">
                    <a asp-controller="Module" asp-action="Index" class="btn btn-outline-danger"> Back</a>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </div>


        </form>
    </div>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
 }
