@using aspnet_boilerplate_mvc.Entities;
@model Submodule
@{
    ViewData["Title"] = "New/Edit Module";
    Layout = "~/Views/Shared/_MainLayout.cshtml";

}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Module" asp-action="Index">Modules</a></li>
                    <li class="breadcrumb-item"><a asp-controller="Submodule" asp-action="Index" asp-route-id="@Model.ModuleId">Submodules</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Modify Sub Module</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="col-md-6 offset-md-3">
        <form method="post">
            <div class="card">
                <div class="card-body">
                    <h4 class=card-title>New/Edit Module</h4>
                    <hr />
                    <div class="mb-3">
                        <label>Name</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label>Icon</label>
                        <input asp-for="Icon" class="form-control" />
                        <span asp-validation-for="Icon" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label>Controller</label>
                        <input asp-for="Controller" class="form-control" />
                        <span asp-validation-for="Controller" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label>Module Permission</label>
                        <input asp-for="DefaultAction" class="form-control"/>
                        <span asp-validation-for="DefaultAction" class="text-danger"></span>
                    </div>
                </div>
                <input type="hidden" asp-for="Id"/>
                <input type="hidden" asp-for="ModuleId"/>
                <div class="card-footer d-flex justify-content-between">
                    <a asp-controller="Submodule" asp-action="Index" asp-route-id="@Model.ModuleId" class="btn btn-outline-danger"> Back</a>
                    <button type="submit" class="btn btn-primary">Submit</button>

                </div>
            </div>


        </form>
    </div>
</div>
 @section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
 }
